.LimboTextBox .info {
  margin-top: 2px;
  font-size: 11px;
}
.LimboTextBox .positive {
  color: #008800;
}
.LimboTextBox .negative {
  color: #880000;
}
.form-horizontal .LimboTextBox .control-label {
  float: none;
  width: initial;
  display: block;
}
.LimboTextBox .control-description {
  max-width: 800px;
}
.LimboTextArea textarea {
  resize: vertical;
  min-height: 100px;
}